@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #8f8f8f;
  line-height: 1.5em;
}

h1, h2, h3, h4 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

img {
  max-width: 100%;
  height: auto;
}

textarea, input {
  outline: none;
  border: none;
  background: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.grid {
  display: -ms-grid;
  display: grid;
}

/*========= Header ========*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.25rem;
     -moz-column-gap: 3.25rem;
          column-gap: 3.25rem;
}

.nav_link {
  font-size: 0.9rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav_link:hover {
  opacity: 0.5;
}

.nav_link::after {
  content: "";
  width: 7px;
  height: 2px;
  background: #4a4a4a;
  position: absolute;
  bottom: 0;
  right: -0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.nav_link:hover::after {
  opacity: 1;
}

.active_link {
  opacity: 0.5;
}

.active_link::after {
  opacity: 1;
}

.nav_close,
.nav_toggle {
  display: none;
}

/*========= Home =========*/
.home {
  background: url(./Images/meditate8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 3.5rem;
  padding-top: 5.5rem;
  position: relative;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(54deg, rgba(45, 45, 45, 0.65) 34%, rgba(45, 45, 45, 0.65) 66%);
}

.home_container {
  -ms-grid-columns: 4fr 1.875rem 8fr;
  grid-template-columns: 4fr 8fr;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.home_img,
.home_data {
  z-index: 10;
}

.home_img {
  width: 90%;
  height: 380px;
  border-radius: 20px;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  -webkit-box-shadow: 0 0 27px rgba(96, 96, 96, 0.34);
          box-shadow: 0 0 27px rgba(96, 96, 96, 0.34);
}

.home_name,
.home_work,
.home_list,
.home_socials > a > i {
  color: #e9ecef;
}

.home_name {
  font-size: 20px;
  line-height: 1.14em;
  margin: 0.9em 0 0.23em;
}

.home_work {
  margin-bottom: 2.5em;
}

.home_list dt {
  float: left;
  opacity: 0.4;
  font-weight: bold;
}

.home_list dd {
  padding-left: 5em;
  font-size: 16px;
}

.home_list dd:not(:last-child) {
  margin-bottom: 0.94em;
}

.home_socials {
  margin: 1.25rem 0 2.2rem;
}

.home_social_link {
  font-size: 1.7rem;
  line-height: 1.36rem;
  margin-right: 0.25rem;
  opacity: 0.8;
}

.home_social_link:hover {
  opacity: 1;
}

.section {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.section_title {
  font-size: 40px;
  line-height: 1.17em;
  margin-bottom: 1em;
  font-weight: 500;
}

.text_lg {
  font-size: 20px;
  line-height: 1.67em;
}

.text_sm {
  font-size: 15px;
  line-height: 1.43em;
}

.text_xs {
  font-size: 12px;
  line-height: 1.5em;
}

.hello_details {
  margin-bottom: 1.67em;
  text-align: justify;
}

.button {
  display: inline-block;
  padding: 1.1rem 2.1rem;
  border-radius: 1.56rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #4a4a4a;
  color: #fff;
  font-weight: 500;
}

.button:hover {
  background-color: #575757;
}

.button_flex {
  display: inline;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 0.3rem;
     -moz-column-gap: 0.3rem;
          column-gap: 0.3rem;
}

/*========= Skills =========*/
.skills_container {
  -ms-grid-columns: 1fr 1.875rem 1fr 1.875rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.skills_item {
  border: 1px solid #f1f1f1;
  padding: 24px 12px 13px;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.skills_item:hover {
  -webkit-box-shadow: 0 0 27px rgba(96, 96, 96, 0.34);
          box-shadow: 0 0 27px rgba(96, 96, 96, 0.34);
  cursor: pointer;
}

.skills_icon {
  width: 32px;
}

.skills_title {
  margin-bottom: 10px;
}

/*========= Resume =========*/
.resume_container {
  -ms-grid-columns: 1fr 3.75rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.75rem;
}

.resume_title {
  color: #999;
  letter-spacing: 8px;
  margin-bottom: 25px;
}

.resume_item {
  border-left: 2px solid #4a4a4a;
  padding-left: 19px;
  position: relative;
}

.resume_item:not(:last-child) {
  padding-bottom: 30px;
}

.resume_item::before {
  content: "";
  border: 2px solid #4a4a4a;
  position: absolute;
  left: -0.56rem;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.resume_subtitle {
  color: #4a4a4a;
  margin-bottom: 0.36em;
}

.resume_date {
  color: #999;
  margin-bottom: 0.7em;
}

.resume_description {
  text-align: justify;
}

/*========= Project =========*/
.project_categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  margin-bottom: 1.875rem;
}

.project_category_btn {
  color: #999;
  font-weight: 500;
  position: relative;
  font-size: 15px;
}

.project_category_btn:hover {
  color: #4a4a4a;
}

.project_category_btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -0.75rem;
  width: 7px;
  height: 2px;
  background: #4a4a4a;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project_category_btn:hover::after {
  opacity: 1;
}

.active_project {
  color: #4a4a4a;
}

.active_project::after {
  opacity: 1;
}

.project_item {
  -ms-grid-columns: 5fr 7fr;
  grid-template-columns: 5fr 7fr;
}

.projects_container {
  row-gap: 25px;
}

.project_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.project_img:hover {
  -webkit-box-shadow: 0 0 27px rgba(96, 96, 96, 0.34);
          box-shadow: 0 0 27px rgba(96, 96, 96, 0.34);
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project_title {
  margin-bottom: 0.8rem;
  text-align: justify;
}

.project_data {
  padding: 3rem 3rem 2.5rem 1.875rem;
  border: 1px solid #f1f1f1;
  text-align: justify;
  border-radius: 10px;
}

.project_title {
  margin-bottom: 0.8rem;
  text-align: justify;
}

.project_description {
  text-align: justify;
  margin-bottom: 1.875rem;
}

.tags li {
  display: inline;
  margin-right: 0.5rem;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.project_link {
  margin-top: 30px;
  float: right;
  color: #4a4a4a;
}

.button_up {
  margin-top: 40px;
  margin-bottom: 70px;
  background: #222;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  right: 3%;
  bottom: 0;
  width: 100px;
}
.button_up a {
  color: blueviolet;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}

/*========= Contact =========*/
.contact {
  background: url(./Images/meditate8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(54deg, rgba(45, 45, 45, 0.65) 34%, rgba(45, 45, 45, 0.65) 66%);
}

.contact_content {
  z-index: 10;
  position: relative;
}

.contact_container {
  -ms-grid-columns: 4fr 1.875rem 5fr 1.875rem 3fr;
  grid-template-columns: 4fr 5fr 3fr;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  padding-top: 1.25rem;
}

::-webkit-input-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

.contact .section_title,
.contact_list,
::placeholder,
.contact_input,
.contact_form_title {
  color: white;
}

.contact_list {
  margin-bottom: 35px;
}

.contact_list dt {
  float: left;
  text-transform: uppercase;
  font-weight: 600;
}

.contact_list dd {
  padding-left: 70px;
  margin-bottom: 10px;
}

.contact_list dd > a {
  padding-left: 10px;
  margin-bottom: 10px;
  color: #8f8f8f;
  font-size: larger;
}

.contact_form {
  position: relative;
}

.contact_form_title {
  margin-bottom: 25px;
}

.contact_input_div {
  margin-bottom: 15px;
}

.contact_input {
  width: 100%;
  padding: 15px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.contact_input:focus {
  -webkit-box-shadow: inset 0 0 5px 0 white;
          box-shadow: inset 0 0 5px 0 white;
}

.textarea {
  height: 7.2rem;
  resize: none;
}

.contact_button {
  width: 100%;
  margin-top: 25px;
  -webkit-box-shadow: 0 1px 29px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 29px rgba(0, 0, 0, 0.4);
}

.contact_message_text {
  position: relative;
  bottom: 10%;
  left: 0;
}